{% extends 'index.html' %}

{% block content %}
    <div class="p-3">
        <table class="table-sm table-bordered">
            <thead>
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                       Error rate
                    </th>
                </tr>
            </thead>
            {% for error in errors %}
                <tr>
                    <td>{{ error[0] }}</td>
                    <td>{{ error[1] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}